{% extends "base.html" %}

{% block content %}


<div class="container text-center">
    <h1 class="my-1" style="color:white;"><strong>Welcome to SPEEDLINER</strong></h1>
    <p class="my-4" style="color:white;">a well - suited platform for all your car rental needs</p>

    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-sm p-3 d-flex flex-column h-100" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); color: white;">
                <h5 class="text-primary">Customers</h5>
                <p>Manage customers' details.</p>
                <a href="{% url 'customer_list' %}" class="btn btn-primary mt-auto">View Customers</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm p-3 d-flex flex-column h-100" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); color: white;">
                <h5 class="text-primary">Bookings</h5>
                <p>Manage rental bookings.</p>
                <a href="{% url 'booking_list' %}" class="btn btn-success mt-auto">View Bookings</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm p-3 d-flex flex-column h-100" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); color: white;">
                <h5 class="text-primary">Vehicles</h5>
                <p>Check available vehicles.</p>
                <a href="{% url 'vehicle_list' %}" class="btn btn-warning mt-auto">View Vehicles</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm p-3 d-flex flex-column h-100" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); color: white;">
                <h5 class="text-primary">Payments</h5>
                <p>Manage payment records.</p>
                <a href="{% url 'payment_list' %}" class="btn btn-danger mt-auto">View Payments</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
